@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,cyrillic);

html, body, #map-canvas { 
	margin: 0; 
	padding: 0;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

#nav, #rest, #gallery, #map-canvas {
	position: absolute;
}

#nav {
	background-color: white;
	width: 315px;
	height: 100%;
}

#nav h3 {
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#nav div.submenu{
	display: none;
}

#nav div.submenu.active {
	display: block;
}

#rest {
	left: 315px;
	height: 100%;
	right: 0px;
}

#map-canvas {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#gallery {
	background-color: rgba(255,255,255,.8);
	height: 170px;
	width: 100%;
	bottom: 0px;
	display: none;
	border-top: 3px solid #ea5322;
	padding: 15px 8px 5px 8px;
}

#gallery img {
	margin-right: 5px;
	margin-left: 5px;
}

.full-img-dialog {
	display: none;
}

.img-caption{
	width: 160px;
	padding: 0 5px;
	font-size: 12px;
	font-weight: bold;
	color: #4c5e66;
}

.img-container {
	height: 150px;
}

.img-container a:hover img {
	opacity: 0.8;
}

.captions-container {
	height: 20px;
	display: flex;
	font-size: 15px;
}

.marker-popup {
	/*background: url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat;*/
	background: url('img/tipbox.png') no-repeat;
	background-position: center top;
	opacity: 0.95;
}

#marker-popup-content {
	margin-top: 8px; /* This margin should equal the tipbox image's height */
	width: 390px;
	height: 220px;
	border-radius: 7px;
	color: #ffffff;
	font-size: 12px;
	background-color: #656e78;
	padding: 20px;
}

#marker-popup-text {
	float: left;
	width: 235px;
	height: 200px;
	margin-left: 15px;
	position: relative;
    overflow-y: auto;
    max-height: 140px;
}

#marker-popup-content  h2{
	font-size: 18px;
	margin: 0 0 20px 0;
	font-weight: 500;
}

.marker-popup-btn {
	background: #f8804f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ODA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2YxNjIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTUxMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8804f 0%, #f16226 26%, #e95122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8804f), color-stop(26%,#f16226), color-stop(100%,#e95122));
	background: -webkit-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -o-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -ms-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: linear-gradient(to bottom,  #f8804f 0%,#f16226 26%,#e95122 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8804f', endColorstr='#e95122',GradientType=0 );
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	padding:7px 10px 7px 10px;
	float: left;
	
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
	box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
	
	margin-right: 10px;
	margin-bottom: 0;
}

.marker-popup-btn a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.marker-popup-btn:active {
	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	background: #e95122;
}

.marker-popup-btn:hover {
	background: #e95122;	
}


#marker-popup-thumb {
	width: 140px;
	height: 95px;
	float: left;
}

/* Nav Styles */
#nav {
	overflow: auto;
}

#nav h3 {
	background: #707885;
	background: -moz-linear-gradient(top,  #707885 0%, #5e6673 26%, #535b66 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707885), color-stop(26%,#5e6673), color-stop(100%,#535b66));
	background: -webkit-linear-gradient(top,  #707885 0%,#5e6673 26%,#535b66 100%);
	background: -o-linear-gradient(top,  #707885 0%,#5e6673 26%,#535b66 100%);
	background: -ms-linear-gradient(top,  #707885 0%,#5e6673 26%,#535b66 100%);
	background: linear-gradient(to bottom,  #707885 0%,#5e6673 26%,#535b66 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707885', endColorstr='#535b66',GradientType=0 ); 
	padding: 5px 15px;
	margin: 0;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px solid #4b4b4b;
} 


#nav h3:hover {
	background: #545c67;
}

#nav h3 a {
	width: 100%;
	display: block;
	background: url('img/bottom-map.png') no-repeat top right;
	padding: 7px 0;
	color: #FFF;
	text-decoration: none;
}

#nav h3 a:hover {
	background: url('img/bottom-map-hover.png') no-repeat top right;	
}

/* These styles must be applied to h3, when the menu is open */

#nav h3.open {
	background: #f8804f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ODA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2YxNjIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTUxMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8804f 0%, #f16226 26%, #e95122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8804f), color-stop(26%,#f16226), color-stop(100%,#e95122));
	background: -webkit-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -o-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -ms-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: linear-gradient(to bottom,  #f8804f 0%,#f16226 26%,#e95122 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8804f', endColorstr='#e95122',GradientType=0 );

	padding: 5px 15px;
	margin: 0;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px solid #d44115;	
}

#nav h3.open:hover {
	background: #e95122;
}

#nav h3.open a {
	width: 100%;
	display: block;
	background: url('img/top-map.png') no-repeat top right;
	padding: 4px 0;
	color: #FFF;
	text-decoration: none;
}

#nav h3 a.open:hover {
	background: url('img/top-map-hover.png') no-repeat top right;	
}

#nav div.submenu ul {
	list-style-type: none;
	padding: 0;
	margin: 3px 0;		
}

#nav div.submenu ul li {
	background-color: #e8ebf0;	
	padding: 8px 20px;
	margin-bottom: 2px;	
	color: #4c5e66;
	font-size: 13px;
	font-weight: 600;
	position: relative;
}

#nav div.submenu ul li:hover {
	background-color: #dfe4ec;	
}

#nav div.submenu ul li input[type=checkbox] {
	width: 16px;
	height: 16px;
	border: 1px solid #aab7cc;
	position: absolute;
	right: 17px;
}

/* End Nav Styles */

#my-places {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	background-color: #fff;
	border-bottom: 3px solid #69747e;
	padding-bottom: 39px;
}

#my-places h4 {
	background: #f8804f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ODA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2YxNjIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTUxMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8804f 0%, #f16226 26%, #e95122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8804f), color-stop(26%,#f16226), color-stop(100%,#e95122));
	background: -webkit-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -o-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -ms-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: linear-gradient(to bottom,  #f8804f 0%,#f16226 26%,#e95122 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8804f', endColorstr='#e95122',GradientType=0 );

	padding: 10px 15px;
	margin: 0;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px solid #d44115;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;	
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#my-places ol {
	overflow: auto;
	list-style-type: none;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 0;
	max-height: 400px;
	
}

#my-places ol li {
	background-color: #e8ebf0;	
	padding: 8px 25px 8px 15px;
	margin-bottom: 2px;	
	margi
	color: #4c5e66;
	font-size: 13px;
	font-weight: 600;
	position: relative;	
	color: #4c5e66;	
	
}

#my-places ol li a {
	position: absolute;
	right: 5px;
	background-image: url('img/close2.png');
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	top: 8px;
}

#my-places ol li a:hover {
	background-image: url('img/close2-hover.png');
}

#my-places .print {
	background: #f8804f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ODA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2YxNjIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTUxMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8804f 0%, #f16226 26%, #e95122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8804f), color-stop(26%,#f16226), color-stop(100%,#e95122));
	background: -webkit-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -o-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: -ms-linear-gradient(top,  #f8804f 0%,#f16226 26%,#e95122 100%);
	background: linear-gradient(to bottom,  #f8804f 0%,#f16226 26%,#e95122 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8804f', endColorstr='#e95122',GradientType=0 );
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	position: absolute;
	bottom: 4px;
	left: 5px;
	padding: 6px 18px 7px 37px;
	
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
	box-shadow: inset 0px -2px 0px 0px rgba(180,57,20,1);
}

#my-places .print:before {
	background: url('img/print.png') no-repeat center center;
	content: "";
	width: 20px;
	height: 18px;
	position: absolute;
	top: 7px;
	left: 9px;
}

#my-places .print:active {
	bottom: 3px;
	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	box-shadow: inset 0px -1px 0px 0px rgba(180,57,20,1);
	background: #e95122;
}

#my-places .print:hover {
	background: #e95122;	
}

